*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1200px) 1fr;
    grid-template-rows: 100vh;
    background: url("../images/header-background.png") no-repeat center 0;
    background-size: cover;
}
.header-content{
    position: relative;
}
.head{
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: 3% 3% 88% 3% 3%;
}
.header-content img, i{
    align-self: center;
    justify-self: center;
}
.header-content hr{
    border: 1px solid #d4d4d4;
    margin: 0;
}
.header-menu{
    margin-top: 1.5em;
}
#mainMenu{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainMenu li{
    align-self: center;
    justify-self: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.95em;
}
.carousel{
    margin-top: 15vh;
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
.header-discover{
    grid-column-start: 1;
    grid-column-end: -1;
}
.header-discover h2{
    font-size: 3.5em;
    color: black;
    margin: 0;
}
.header-discover p{
    font-size: 1em;
    color: #7f7f7f;
    margin: 1em 0 0 0;
    width: 30%;
    text-align: justify;
}
.header-discover button{
    width: 200px;
    height: 60px;
    margin-top: 3em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
}
.counter{
    position: absolute;
    bottom: 5vh;
}
.counter div{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
}
.counter div:first-child{
    background-color: black;
}
.header-padding-left{
    align-self: center;
    justify-self: left;
}
.header-padding-right{
    align-self: center;
    justify-self: right;
}
.header-padding button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #e7e7e7;
    color: #c8c8c8;
    font-size: 1.5em;
    opacity: 0.3;
}
.header-padding button:hover{
    opacity: 1;
}
.header-padding .left{
    margin-left: 1vw;
}
.header-padding .right{
    margin-right: 1vw;
}
.advantages{
    display: grid;
    width: 1300px;
    margin: 2.75em auto 0 auto;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Montserrat", sans-serif;
    grid-column-gap: 3%;
}
.advantage{
    text-align: center;
}
.advantage i{
    font-size: 3em;
    color: #7f7f7f;
}
.advantage h4{
    font-weight: bold;
    font-size: 1.2em;
}
.advantage p{
    font-weight: 300;
    font-size: 1.05em;
    color: #929292;
}
.catalog{
    padding: 0 30px 0 30px;
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    text-align: center;
}
.catalog img{
    width: 100%;
}
.catalog button{
    width: 60%;
    height: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.75em;
    text-transform: uppercase;
    background-color: white;
    border: none;
}
.catalog button:hover{
    background-color: black;
    color: white;
}
.toptrending{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.toptrending h2{
    font-size: 42pt;
    margin-bottom: 32px;
}
.toptrending hr{
    width: 100px;
    border: 1px solid #cfcfcf;
    margin-bottom: 37px;
}
.toptrending p{
    font-size: 13pt;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}
.topTrendingMenu{
    display: grid;
    max-width: 500px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.topTrendingMenu button{
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    width: 135px;
    height: 35px;
    background-color: #eeeeee;
    border: none;
}
.topTrendingMenu button:hover{
    background-color: black;
    color: white;
}
.topTrendingProduct{
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
    padding: 0 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}
.topTrendingProduct img{
    width: 100%;
}
.topTrendingProductInner{
    display: grid;
}
.topTrendingProductInner h6{
    margin: 20px 0 15px 0;
    font-size: 1em;
}
.topTrendingProduct button{
    margin-top: 70px;
    width: 230px;
    height: 65px;
    grid-column: 3 / 4;
    border: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    justify-self: center;
}
.discovery{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.discovery img{
    width: 100%;
}
.discoveryRight{
    display: grid;
    background-color: #fafafa;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.discoveryRight h3{
    font-size: 42pt;
    margin: 0;
}
.discoveryRight hr{
    width: 105px;
    border: 1px solid #cfcfcf;
    margin-top: 25px;
    margin-bottom: 35px;
}
.discoveryRight p{
    max-width: 650px;
    margin: 0 auto;
}
.discoveryRight button{
    margin-top: 35px;
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: #fafafa;
}
.brands{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 150px;
    align-items: center;
    justify-items: center;
}
.instagram{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.instagram img{
    width: 100%;
}
.address{
    display: grid;
    grid-template-columns: 1fr;
}
.address img{
    width: 100%;
}
footer{
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    max-width: 1200px;
    margin: 70px auto 0 auto;
    font-family: "Montserrat", sans-serif;
}
.social a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #e9e9e9;
    margin-bottom: 30px;
    margin-right: 10px;
}
footer p{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}
input[type=email]{
    margin: 0;
    width: 60%;
    height: 50px;
    border: 1px solid #dfdfdf;
    border-right: none;
    padding-left: 20px;
    font-family: "Montserrat", sans-serif;
}
input[type=submit]{
    margin: 0 0 0 -5px;
    width: 30%;
    height: 50px;
    border: 1px solid #dfdfdf;
    border-left: none;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
footer h3{
    margin: 0 0 30px 0;
}