*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
header a{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    background-color: lightgray;
    text-decoration: none;
    font-size: 24px;
    color: white;
}
header a:hover{
    background-color: gray;
}
main{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
main p{
    text-align: justify;
}
.plant{
    text-align: center;
}
.plant img{
    height: 300px;
}
.UP{
    display: grid;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
}
#contacts_div{
    display: grid;
    background-color: lightgray;
    height: 50px;
}
.source{
    display: block;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    margin: 20px auto 20px auto;
}
@media print {
    body{
        margin: 2cm;
    }
    header{
        display: none;
    }
    .UP{
        display: none;
    }
    .mainP{
        page-break-after: always;
    }
    #agave{
        page-break-after: always;
    }
    #humus{
        page-break-after: always;
    }
    .source{
        display: inline;
    }
    *,*:before,*:after,*:first-letter,p:first-line,div:first-line,blockquote:first-line,li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
}