*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background: url("images/bg-head.png") no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px 0 5px;
}
.mainBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 50px 0 0 0;
}
.mainLogo{

}
.mainLogo h1{
    font-size: 2em;
    font-family: Georgia, serif;
    font-weight: normal;
}
.mainLogo a{
    text-decoration: none;
    color: #f1cdb3;
    letter-spacing: 2px;
}
.mainLogo p{
    margin-top: 5px;
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}
.mainMenu{
    display: flex;
    flex-direction: row;
}
.mainMenu > div{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    align-items: center;
}
.mainMenu > div:last-child{
    margin-right: 0;
}
.menuLine{
    margin-top: 5px;
    display: inline-block;
    height: 5px;
    background-color: #f1cdb3;
    border-radius: 5px;
}
.mainMenu a{
    font-family: Arial, sans-serif;
    color: #cdcdcd;
    text-decoration: none;
}
.mainMenu div:hover .menuLine{
    animation-name: mainMenu;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes mainMenu {
    from{
        width: 0;
    }
    to{
        width: 90%;
    }
}
.headerAbout{
    width: 50%;
    margin-top: 10%;
}
.headerAbout > div{
    margin-bottom: 30px;
}
.headerAbout > div:last-child{
    margin-bottom: 0;
}
.headerTitle h2{
    font-family: Georgia, serif;
    font-size: 2em;
    font-weight: normal;
    color: #ffffff;
}
.headerDescription p{
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.headerButton{
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #f1cdb3;
}
.headerButton a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: Georgia, serif;
    font-size: 1em;
    text-decoration: none;
    color: #292929;
    letter-spacing: 1px;
}
.headerButton:hover{
    animation-name: headerButton;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes headerButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
.container-about{
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: 50px auto 50px auto;
    padding: 0 5px 0 5px;
    color: #545454;
}
.aboutImage{
    flex: 1;
    text-align: center;
}
.aboutText{
    flex: 1;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
}
.aboutText h3{
    font-size: 2em;
    font-family: Georgia, serif;
    font-weight: normal;
    margin-bottom: 20px;
}
.aboutText p{
    font-size: 1em;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.friends{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.friends h3{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.5em;
    color: #545454;
    font-weight: normal;
    letter-spacing: 2px;
}
.friendsPets{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.friendsPet{
    text-align: center;
    font-family: Georgia, serif;
    letter-spacing: 1px;
    font-size: 1.1em;
    color: #545454;
}
.friendsPet:nth-child(3){
    margin-right: 20px;
    margin-left: 20px;
}
.arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #f6f6f6;
    border: 2px solid #f1cdb3;
    font-size: 1.2em;
    color: black;
}
.arrow:hover{
    background-color: #f1cdb3;
}
.learnMore{
    display: inline-flex;
    flex-direction: column;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #f1cdb3;
    text-decoration: none;
    color: black;
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
}
.learnMore:hover{
    background-color: #f1cdb3;
}
.friendsPet p{
    margin: 20px 0 20px 0;
}
.getToKnowTheRestOuter{
    margin-top: 70px;
    text-align: center;
}
.getToKnowTheRest{
    display: inline-flex;
    flex-direction: column;
    width: 270px;
    height: 50px;
    border-radius: 25px;
    background-color: #f1cdb3;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Georgia, serif;
    letter-spacing: 1px;
}
.getToKnowTheRest:hover{
    animation-name: headerButton;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.help{
    text-align: center;
}
.itemHelp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 1.1em;
    color: #545454;
}
.itemHelp p{
    margin-top: 20px;
}
.helpTop, .helpBottom{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.helpBottom{
    margin-top: 50px;
}
.itemHelp:nth-child(5){
    margin-right: 0;
}
.itemHelp:last-child{
    margin-right: 0;
}
.helpTitle{
    color: #545454;
    font-family: Georgia, serif;
    font-size: 2em;
    margin: 100px 0 50px 0;
}
.donate{
    background-color: #f6f6f6;
    margin-top: 70px;
}
.donateOuter{
    display: flex;
    flex-direction: row;
    font-family: Georgia, serif;
    justify-content: space-around;
    color: #545454;
    margin-top: 70px;
    margin-bottom: 70px;
    align-items: center;
}
.donateImg{
    flex: 1;
    margin-right: 100px;
}
.donateImg img{
   width: 100%;
}
.donateInfo{
    flex: 1;
}
.donateInfo p:nth-child(1){
     font-size: 2em;
    margin-bottom: 15px;
}
.donateInfo p:nth-child(2){
    font-size: 0.7em;
    margin-bottom: 10px;
}
.donateInfo p:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 40px;
    background-color: #f1cdb3;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: "Times New Roman", serif;
    color: black;
}
.donateInfo p:nth-child(4){
    font-family: Arial, sans-serif;
    font-style: italic;
}
footer{
    background: url("images/Dog-footer.png") no-repeat;
    background-size: cover;
    width: 100%;
}
.footerOuter{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.forQuests{
    margin-right: 150px;
}
.forQuests, .forVisit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.forQuests p:nth-child(1), .forVisit p:nth-child(1){
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 2em;
}
.forQuests p:nth-child(2), .forVisit p:nth-child(2), .forQuests p:nth-child(3), .forVisit p:nth-child(3){
    display: flex;
    align-items: center;
    color: #f1cdb3;
    font-family: "Times New Roman", serif;
    margin-top: 10px;
}
.forQuests img, .forVisit img{
    margin-right: 20px;
}



@media screen and (max-width: 991px) {
    .container{
        padding: 0 20px 0 20px;
    }
    .headerAbout{
        width: 80%;
    }
    .arrow{
        display: none;
    }
    .friendsPet:nth-child(3){
        margin: 0;
    }
    .itemHelp{
        flex-basis: 20%;
        margin-right: 0;
    }
}





@media screen and (max-width: 767px) {
    .mainBar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainMenu{
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .mainMenu > div{
        display: block;
        margin: 0 0 10px 0;
    }
    .mainMenu div:hover .menuLine{
        animation: none;
    }
    .headerAbout{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-about{
        flex-direction: column;
    }
    .arrow{
        display: none;
    }
    .friendsPet{
        margin: 20px 0 0 0;
    }
    .helpTop, .helpBottom{
        flex-direction: row;
        margin-top: 0;
    }
    .itemHelp{
        flex: 50%;
        margin: 20px 0 0 0;
    }
    .donateOuter{
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
    .donateImg{
        margin-right: 0;
    }
    .footerOuter{
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
    .forQuests, .forVisit{
        margin: 0;
    }
    .forVisit{
        margin-top: 20px;
    }
}